:root{
    --darkgray: #212329;
    --white:#fff;
    --brightred:#f94230;
    --lightred:#f9433dcc;

}
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'Source Sans Pro', sans-serif;
}

.nav-container{
    width:100%;
    background-color:var(--darkgray);
}

.navbar{
    display:grid;
    grid-template-columns: 0.2fr auto 1fr;
    align-items:center;
    height: 60px; /*change*/
    width:90%;
    max-width: 1720px;
    margin:0 auto;
}

#navbar-logo{
    color:var(--white);
    justify-self:start;
    margin-left:20px;
    cursor:pointer;
}

.nav-menu{
    display:grid;
    grid-template-columns:  repeat(5, auto);
    width:70%;
    list-style: none;
    text-align: center;
    justify-self: end;
}

.nav-links{
    color:var(--white);
    text-decoration:none;
}

.nav-links:hover{
    color:var(--brightred);
    transition: all 0.2s ease-out;
}

.nav-btn{
    background-color: var(--brightred);
    padding:6px 16px;
    border-radius: 4px;
}
.nav-btn:hover{
    background-color: transparent;
    color: var(--white);
    border:2px solid var(--brightred);
    padding:6px 16px;
    transition: all 0.3s ease-out;
}

/* This is a Hamburger menu*/

.menu-toggle .bar{
    height:3px;
    width:25px;
    background: var(--white);
    margin: 5px auto;
    transition: all 0.3s ease-out;
    
}

@media screen and (max-width:768px) {
    .nav-container{
        position:relative;
    }
    .nav-menu{
        display:grid;
        grid-template-columns: auto;
        background-color: var(--brightred);
        margin:0;
        width:100%;
        position:absolute;
        top:60px;
        left: 100%;/* if we need menu to show up from right them use'-' sign*/
        opacity:0;
        transition: all 0.5s ease;

    }

    .nav-menu.active{
        background: var(--darkgray);
        left:0;
        opacity:1;
        transition: all 0.5s ease;
    }
    .nav-links{
        text-align: center;
        width:100%;
        line-height:60px;
        display: table;/*this is helping in getting the bg color of signup*/
    }
    .nav-links:hover{
        background-color: var(--brightred);
        color:var(--white);
        transition: all 0.2s ease-in-out;
    }
    .navbar{
        width:100%;
    }
    
    .nav-btn{
        border:none;
        padding:0;
        border-radius: 0;
        background-color: var(--darkgray);
        color:var(--white);
        transition: all 0.2s ease-out;
    }
    .nav-btn:hover{
        border:none;
        padding:0;
        border-radius: 0;
        background-color: var(--brightred);
        color:var(--white);
        transition: all 0.2s ease-out;
    }
    #mobile-menu{
        position:absolute;
        top:20%;
        right:5%;
        transform:translate(5%,20%);

    }

    .menu-toggle .bar{
        display: block;
        cursor:pointer;
    }
    .menu-toggle:hover{
        cursor:pointer;
    }
    #mobile-menu.is-active .bar:nth-child(2){
        opacity: 0;
    }
    #mobile-menu.is-active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    #mobile-menu.is-active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
}